body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-content: center;
}
.colorcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
.color{
    cursor: pointer;
}
.color:active{
    scale: 90%;
}

#rangeValue{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 650px;
    align-self:center;
}

.row{
    display: flex;
}
.cell{
    border: 1px solid black;
    box-sizing: border-box;
}

.btn{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: max-content;
    padding: 10px;
    cursor: pointer;
}
.side-bar{
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slidecontainer {
    width: 100%;
}
  
.slider:hover {
    opacity: 1;
}
  